node_modules
dist
test/temp
.sass-cache
app/public/components/*
!app/public/components/lcoi-*
!app/public/components/rule-*
!app/public/components/lunr-*
!app/public/components/app-*
.tmp
test/components/

.idea/